<meta charset="utf-8" />
<link rel="icon" type="image/png" href="{{site.baseurl}}/assets/img/logo.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>Tapi Auto | {{ page.title }}</title>

<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<meta name="viewport" content="width=device-width" />
<meta name="description" content="Reconditionam suprafetele (volane, scaune, plafon, etc.) masinii din piele, plastic, vinil și cauciuc, cu produse exclusiv din import.">
<meta name="keywords" content="reconditionari auto, reconditionari volane, reconditionari interior masini,reconditionari volane,reconditionari plafon,recondtionare tapiterie scaune, tapiterie scaune,bord,tapi,auto,tapiauto,tapiterieauto,tapiterie auto">

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

<!-- Fonts and icons -->
<link href='//fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<script src="https://kit.fontawesome.com/d8b593f351.js" crossorigin="anonymous"></script>